/*====  RESET ============================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  /*====  VARIABLES ============================ */
  :root {
    --header-height: 4.5rem;
  
    /* colors */
    --hue: 159;
    /* HSL color mode */
    --base-color: rgb(18, 68, 206);
    --base-color-second: rgb(27, 23, 23);
    --base-color-alt: rgb(0, 92, 129);
    --title-color: hsl(var(--hue) 41% 10%);
    --text-color: hsl(0 0% 46%);
    --text-color-light: hsl(0 0% 98%);
    --body-color: hsl(0 0% 98%);
  
    /* fonts */
    --title-font-size: 1.875rem;
    --subtitle-font-size: 1rem;
    --title-font: 'Poppins', sans-serif;
    --body-font: 'DM Sans', sans-serif;
  }
  
  /*===  BASE ============================ */
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font: 400 1rem var(--body-font);
    color: var(--text-color);
    background: var(--body-color);
    -webkit-font-smoothing: antialiased;
  }
  
  .title {
    font: 700 var(--title-font-size) var(--title-font);
    color: var(--title-color);
    -webkit-font-smoothing: auto;
  }
  
  .button {
    background-color: var(--base-color);
    color: var(--text-color-light);
    height: 3.5rem;
    display: inline-flex;
    align-items: center;
    padding: 0 2rem;
    border-radius: 0.25rem;
    font: 500 1rem var(--body-font);
    transition: background 0.3s;
  }
  
  .button:hover {
    background: var(--base-color-alt);
  }
  
  .divider-1 {
    height: 1px;
    background: linear-gradient(
      270deg,
      rgb(0, 52, 129),
      hsla(var(--hue), 65%, 88%, 0.34)
    );
  }
  
  .divider-2 {
    height: 1px;
    background: linear-gradient(
      270deg,
      hsla(var(--hue), 65%, 88%, 0.34),
      rgb(129, 0, 0)
    );
  }
  
  /*====  LAYOUT ============================ */
  .container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  
  .grid {
    display: grid;
    gap: 2rem;
  }
  
  .section {
    padding: calc(5rem + var(--header-height)) 0;
  }
  
  .section .title {
    margin-bottom: 1rem;
  }
  
  .section .subtitle {
    font-size: var(--subtitle-font-size);
  }
  
  .section header {
    margin-bottom: 4rem;
  }
  
  .section header strong {
    color: var(--base-color);
  }
  
  #header {
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 2rem;
    display: flex;
  
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--body-color);
    width: 100%;
  }
  
  #header.scroll {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
  }
  
  /*====  LOGO ============================ */
  .logo {
    font: 700 1.31rem var(--title-font);
    color: var(--title-color);
  }
  
  .logo span {
    color: var(--base-color);
  }
  .logo-alt {
    color: white;
  }
  
  .logo-alt span {
    color: var(--base-color);
  }
  
  /*====  NAVIGATION ============================ */
  nav {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  nav ul li {
    text-align: center;
  }
  
  nav ul li a {
    transition: color 0.2s;
    position: relative;
  }
  
  nav ul li a:hover,
  nav ul li a.active {
    color: var(--base-color);
  }
  
  nav ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--base-color);
  
    position: absolute;
    left: 0;
    bottom: -1.5rem;
  
    transition: width 0.2s;
  }
  
  nav ul li a:hover::after,
  nav ul li a.active::after {
    width: 100%;
  }
  
  nav .menu {
    opacity: 0;
    visibility: hidden;
    top: -20rem;
    transition: 0.2s;
  }
  
  nav .menu ul {
    display: none;
  }
  
  /* Mostrar menu */
  nav.show .menu {
    opacity: 1;
    visibility: visible;
  
    background: var(--body-color);
  
    height: 100vh;
    width: 100vw;
  
    position: fixed;
    top: 0;
    left: 0;
  
    display: grid;
    place-content: center;
  }
  
  nav.show .menu ul {
    display: grid;
  }
  
  nav.show ul.grid {
    gap: 4rem;
  }
  
  /* toggle menu */
  .toggle {
    color: var(--base-color);
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  nav .icon-close {
    visibility: hidden;
    opacity: 0;
  
    position: absolute;
    top: -1.5rem;
    right: 1.5rem;
  
    transition: 0.2s;
  }
  
  nav.show div.icon-close {
    visibility: visible;
    opacity: 1;
    top: 1.5rem;
  }
  
  /*====  HOME ============================ */
  #home {
    overflow: hidden;
  }
  
  #home .container {
    margin: 0;
  }
  
  #home .image {
    position: relative;
  }
  
  #home .image::before {
    content: '';
    height: 100%;
    width: 100%;
    background: var(--base-color-second);
    position: absolute;
    top: -16.8%;
    left: 16.7%;
    z-index: 0;
  }
  
  #home .image img {
    position: relative;
    right: 2.93rem;
  }
  
  #home .image img,
  #home .image::before {
    border-radius: 0.25rem;
  }
  
  #home .text {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: center;
  }
  
  #home .text h1 {
    margin-bottom: 1rem;
  }
  
  #home .text p {
    margin-bottom: 2rem;
  }
  
  /*====  ABOUT ============================ */
  #about {
    background: white;
  }
  
  #about .container {
    margin: 0;
  }
  
  #about .image {
    position: relative;
  }
  
  #about .image::before {
    content: '';
    height: 100%;
    width: 100%;
    background: var(--base-color-second);
    position: absolute;
    top: -8.3%;
    left: -33%;
    z-index: 0;
  }
  
  #about .image img {
    position: relative;
  }
  
  #about .image img,
  #about .image::before {
    border-radius: 0.25rem;
  }
  
  #about .text {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  
  /*====  SERVICES ============================ */
  .cards.grid {
    gap: 1.5rem;
  }
  
  .card {
    padding: 3.625rem 2rem;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    border-bottom: 0.25rem solid var(--base-color);
    border-radius: 0.25rem 0.25rem 0 0;
    text-align: center;
  }
  
  .card i {
    display: block;
    margin-bottom: 1.5rem;
    font-size: 5rem;
    color: var(--base-color);
  }
  
  .card .title {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
  }
  
  /*====  TESTIMONIALS ============================ */
  #testimonials {
    background: white;
  }
  
  #testimonials .container {
    margin-left: 0;
    margin-right: 0;
  }
  
  #testimonials header {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 0;
  }
  
  #testimonials blockquote {
    padding: 2rem;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    border-radius: 0.25rem;
  }
  
  #testimonials blockquote p {
    position: relative;
    text-indent: 1.875rem;
    margin-bottom: 1.5rem;
    color: var(--title-color);
  }
  
  #testimonials blockquote p span {
    font: 700 2.5rem serif;
    position: absolute;
    top: -0.375rem;
    left: -1.875rem;
    color: var(--base-color);
  }
  
  #testimonials cite {
    display: flex;
    align-items: center;
    font-style: normal;
  }
  
  #testimonials cite img {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    clip-path: circle();
    margin-right: 0.5rem;
  }
  
  /* swiper */
  .swiper-slide {
    height: auto;
    padding: 4rem 1rem;
  }
  
  .swiper-pagination-bullet {
    width: 0.75rem;
    height: 0.75rem;
  }
  
  .swiper-pagination-bullet-active {
    background: var(--base-color);
  }
  
  /*====  CONTACT ============================ */
  #contact .grid {
    gap: 4rem;
  }
  
  #contact .text p {
    margin-bottom: 2rem;
  }
  
  #contact .button i,
  #contact ul li i {
    font-size: 1.5rem;
    margin-right: 0.625rem;
  }
  
  #contact ul.grid {
    gap: 2rem;
  }
  
  #contact ul li {
    display: flex;
    align-items: center;
  }
  
  #contact ul li i {
    color: var(--base-color);
  }
  
  /*====  FOOTER ============================ */
  footer {
    background: var(--base-color-second);
  }
  
  footer.section {
    padding: 4rem;
  }
  
  footer .logo {
    display: inline-block;
    margin-bottom: 1.5rem;
  }
  
  footer .brand p {
    color: var(--text-color-light);
    margin-bottom: 0.75rem;
  }
  
  footer i {
    font-size: 1.5rem;
    color: var(--text-color-light);
  }
  
  footer .social {
    grid-auto-flow: column;
    width: fit-content;
  }
  
  footer .social a {
    transition: 0.3s;
    display: inline-block;
  }
  
  footer .social a:hover {
    transform: translateY(-8px);
  }
  
  /* Back to top */
  .back-to-top {
    background: var(--base-color);
    color: var(--text-color-light);
  
    position: fixed;
    right: 1rem;
    bottom: 1rem;
  
    padding: 0.5rem;
    clip-path: circle();
  
    font-size: 1.5rem;
    line-height: 0;
  
    visibility: hidden;
    opacity: 0;
  
    transition: 0.3s;
    transform: translateY(100%);
  }
  
  .back-to-top.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
  
  /*========= MEDIA QUERIES =========*/
  /* extra large devices: 1200 > */
  @media (min-width: 1200px) {
    .container {
      max-width: 1120px;
      margin-left: auto;
      margin-right: auto;
    }
    .section {
      padding: 10rem 0;
    }
    .section header,
    #testimonials header {
      max-width: 32rem;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
    .button {
      height: 3.125rem;
    }
    nav .menu {
      opacity: 1;
      visibility: visible;
      top: 0;
    }
    nav .menu ul {
      display: flex;
      gap: 2rem;
    }
    nav .menu ul li a.title.title {
      font: 400 1rem var(--body-font);
      -webkit-font-smoothing: antialiased;
    }
    nav .menu ul li a.active {
      font-weight: bold;
      -webkit-font-smoothing: auto;
    }
    nav .icon-menu {
      display: none;
    }
    main {
      margin-top: var(--header-height);
    }
    #home .container {
      grid-auto-flow: column;
      justify-content: space-between;
      margin: 0 auto;
    }
  
    #home .image {
      order: 1;
    }
    #home .text {
      order: 0;
      max-width: 24rem;
      text-align: left;
    }
    #about .container {
      grid-auto-flow: column;
      margin: 0 auto;
    }
    .cards {
      grid-template-columns: 1fr 2fr 1fr;
    }
    .card {
      padding-left: 3rem;
      padding-right: 3rem;
    }
    #testimonials .container {
      margin-right: auto;
      margin-left: auto;
    }
    /* Contact */
    #contact .container {
      grid-auto-flow: column;
      align-items: center;
    }
    #contact .text {
      max-width: 25rem;
    }
    /*footer */
    footer.section {
      padding: 3.75rem 0;
    }
    footer .container {
      grid-auto-flow: column;
      align-items: center;
      justify-content: space-between;
    }
    footer .logo {
      font-size: 2.25rem;
    }
  }
  /* large devices: 1023 > */
  /* large devices: 992 > */
  @media (min-width: 992px) {
    :root {
      --title-font-size: 2.25rem;
      --subtitle-font-size: 1.125rem;
    }
  }
  /* medium devices: 767 > */
  .form-register {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }
  section .catalog {
    width: 100vw;
    padding: 100px;
  }
  
  section .filter-card {
    width: 980px;
    height: 150px;
    background: var(--gray);
    border-radius: 8px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .search-input {
    width: 700px;
    height: 50px;
    border: none;
    border-radius: 4px 0px 0px 4px;
    text-indent: 10px;
  }
  
  .search-button {
    width: 150px;
    height: 50px;
    border-radius: 0px 4px 4px 0px;
    border: none;
    background: var(--blue);
    color: white;
    cursor: pointer;
    font-size: 1.1em;
    transition: 0.2s ease;
  }
  
  .search-button:hover {
    background: #1745aa;
    color: var(--blue);
  }
  
  .title-wrapper-catalog {
    margin-top: 200px;
    padding-bottom: 20px;
  }
  
  section .card-wrapper {
    max-width: 1000px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 30px;
    padding-top: 50px;
  }
  
  section .card-item {
    height: 400px;
    background: var(--gray);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  .card-content {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  .card-item img {
    width: 85%;
  }
  
  .card-item h4 {
    width: 90%;
  }
  
  .card-item p {
    width: 90%;
    font-style: italic;
    color: #00000070;
  }
  
  .card-item button {
    width: 90%;
    padding: 15px 0px;
    border: none;
    background: var(--blue);
    border-radius: 4px;
    color: rgb(34, 25, 156);
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    transition: 0.3s ease;
    margin-bottom: 10px;
  }
  
  .card-item button:hover {
    background: #dedede;
    color: var(--blue);
  }
  .checkout-panel {
    display: flex;
    flex-direction: column;
    width: 940px;
    height: 766px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
  }
  .panel-body {
    padding: 45px 80px 0;
    flex: 1;
  }
   
  .title {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 40px;
    color: #2e2e2e;
  }
  .progress-bar {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
  }
   
  .step {
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    display: block;
    width: 25px;
    height: 25px;
    margin-bottom: 30px;
    border: 4px solid #fff;
    border-radius: 50%;
    background-color: #efefef;
  }
   
  .step:after {
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 22px;
    width: 225px;
    height: 6px;
    content: '';
    background-color: #efefef;
  }
   
  .step:before {
    color: #2e2e2e;
    position: absolute;
    top: 40px;
  }
   
  .step:last-child:after {
    content: none;
  }
   
  .step.active {
    background-color: #1abc9c;
  }
  .step.active:after {
    background-color: #1abc9c;
  }
  .step.active:before {
    color: #1abc9c;
  }
  .step.active + .step {
    background-color: #1abc9c;
  }
  .step.active + .step:before {
    color: #1abc9c;
  }
   
  .step:nth-child(1):before {
    content: 'Cart';
  }
  .step:nth-child(2):before {
    right: -40px;
    content: 'Confirmation';
  }
  .step:nth-child(3):before {
    right: -30px;
    content: 'Payment';
  }
  .step:nth-child(4):before {
    right: 0;
    content: 'Finish';
  }
  .payment-method {
    display: flex;
    margin-bottom: 60px;
    justify-content: space-between;
  }
   
  .method {
    display: flex;
    flex-direction: column;
    width: 382px;
    height: 122px;
    padding-top: 20px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: rgb(249, 249, 249);
    justify-content: center;
    align-items: center;
  }
   
  .card-logos {
    display: flex;
    width: 150px;
    justify-content: space-between;
    align-items: center;
  }
   
  .radio-input {
    margin-top: 20px;
  }
   
  input[type='radio'] {
    display: inline-block;
  }
  .input-fields {
    display: flex;
    justify-content: space-between;
  }
   
  .input-fields label {
    display: block;
    margin-bottom: 10px;
    color: #b4b4b4;
  }
   
  .info {
    font-size: 12px;
    font-weight: 300;
    display: block;
    margin-top: 50px;
    opacity: .5;
    color: #2e2e2e;
  }
   
  div[class*='column'] {
    width: 382px;
  }
   
  input[type='text'],
  input[type='password'] {
    font-size: 16px;
    width: 100%;
    height: 50px;
    padding-right: 40px;
    padding-left: 16px;
    color: rgba(46, 46, 46, .8);
    border: 1px solid rgb(225, 225, 225);
    border-radius: 4px;
    outline: none;
  }
   
  input[type='text']:focus,
  input[type='password']:focus {
    border-color: rgb(119, 219, 119);
  }
   
  #date { background: url(img/icons_calendar_black.png) no-repeat 95%; }
  #cardholder { background: url(img/icons_person_black.png) no-repeat 95%; }
  #cardnumber { background: url(img/icons_card_black.png) no-repeat 95%; }
  #verification { background: url(img/icons_lock_black.png) no-repeat 95%; }
   
  .small-inputs {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
  }
   
  .small-inputs div {
    width: 182px;
  }
  .panel-footer {
    display: flex;
    width: 100%;
    height: 96px;
    padding: 0 80px;
    background-color: rgb(239, 239, 239);
    justify-content: space-between;
    align-items: center;
  }
  .btn {
    font-size: 16px;
    width: 163px;
    height: 48px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    letter-spacing: 1px;
    border: none;
    border-radius: 23px;
  }
   
  .back-btn {
    color: #1abc9c;
    background: #fff;
  }
   
  .next-btn {
    color: #fff;
    background: #1abc9c;
  }
   
  .btn:focus {
    outline: none;
  }
   
  .btn:hover {
    transform: scale(1.1);
  }
  .blue-border {
    border: 1px solid rgb(110, 178, 251);
  }
  .warning {
    border-color: #1abc9c;
  }